
<a href="/">Home</a>

<h3> Contact Details for <%= @contact.first_name() %> <%= @contact.last_name() %> </h3>



<ul>
  <li><label>First Name: </label> <%= @contact.first_name() %></li>
  <li><label>Last Name: </label> <%= @contact.last_name() %></li>
  <li><label>Job Title: </label> <%= @contact.job_title() %></li>
  <li><label>Company: </label> <%= @contact.company() %></li>
</ul>
<ul>
  <% @phone_array.each() do |number| %>
  <h4><label>Type: </label> <%= number.phone_type() %></h4>
  <li><label>Number: </label> <%= number.number() %></li>
  <br>
  <% end %>
</ul>
<ul>
  <% @address_array.each() do |address| %>
  <h4><label>Type: </label> <%= address.type() %></h4>
  <li><label>Address: </label> <%= address.address() %></li>
  <li><label>City: </label> <%= address.city() %></li>
  <li><label>State: </label> <%= address.state() %></li>
  <li><label>Zip: </label> <%= address.zip() %></li>
  <br>
  <% end %>
</ul>

<h4>Add phone number</h4>

<form action="/phone_number" method="post">
  <div class="form-group">
    <label for="phone_type">Phone Type:</label>
    <input type="text" name="phone_type" id="phone_type" class="form-control">
    <label for="number">Number:</label>
    <input type="text" name="number" id="number" class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Save Phone Number</button>
  </div>
</form>

<h4>Add Mailing Address</h4>

<form action="/address" method="post">
  <div class="form-group">
    <label for="type">Address Type:</label>
    <input type="text" name="type" id="type" class="form-control">
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" class="form-control">
    <label for="city">City:</label>
    <input type="text" name="city" id="city" class="form-control">
    <label for="state">State:</label>
    <input type="text" name="state" id="state" class="form-control">
    <label for="zip">Zip:</label>
    <input type="text" name="zip" id="zip" class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Save Address</button>
  </div>
</form>
